#wrap{
    overflow: hidden;
    display: grid;
    grid-template-areas: "header"
                         "home"
                         "footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; // 반응형으로 만들기 위해 1fr로 설정
    height: 100vh;
}

#header{
    grid-area: header;
}
#home{
    grid-area: home;
}
#footer{
    grid-area: footer;
}